<mat-toolbar>
    <mat-toolbar-row>
        <span>BB-8 Driver</span>
        <span class="bb-spacer"></span>
        <button mat-raised-button color="primary" (click)="connectToBB8()">Connect</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngFor="let droid of droids" class="droid-card">
    <mat-card-header>
        <i mat-card-avatar class="material-icons">bluetooth_connected</i>
        <mat-card-title>{{droid.gattProfile.device.name}}</mat-card-title>
        <mat-card-subtitle>Connected</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <img src="assets/bb8.png" alt="BB-8" class="droid-image" [ngClass]="droid.colour">

        <div class="drive-buttons">
            <div class="mid-button">
                <button mat-mini-fab (click)="move(0, droid)">
                    <i class="material-icons">keyboard_arrow_up</i>
                </button>
            </div>
            <br/><br/>
            <div class="mid-button">
                <button mat-mini-fab (click)="move(270, droid)" style="float: left;">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button>
                <button mat-fab color="warn" (click)="stop(droid)">STOP</button>
                <button mat-mini-fab (click)="move(90, droid)" style="float: right;">
                    <i class="material-icons">keyboard_arrow_right</i>
                </button>
            </div>
            <div style="clear: both"></div>
            <br/><br/>
            <div class="mid-button">
                <button mat-mini-fab (click)="move(180, droid)">
                    <i class="material-icons">keyboard_arrow_down</i>
                </button>
            </div>
        </div>
        <div style="clear: both;">
            <br/>
            <br/>
            <mat-slider [(ngModel)]="speed" class="speed-slide" max="250" min="20" step="10" thumbLabel tickInterval="1" [disabled]="currDirection >= 0"></mat-slider>
            <button (click)="setHeading(droid)">Heading</button>
        </div>
    </mat-card-content>

    <mat-card-actions>
            <button mat-button (click)="setColor('r', droid)" [ngClass]="droidIs('red', droid.colour)" class="col-button">Red</button>
            <button mat-button (click)="setColor('b', droid)" [ngClass]="droidIs('blue', droid.colour)" class="col-button">Blue</button>            
            <button mat-button (click)="setColor('g', droid)" [ngClass]="droidIs('green', droid.colour)" class="col-button">Green</button>
    </mat-card-actions>
</mat-card>