.bb-spacer {
    flex: 1 1 auto;
}

.droid-card {
    max-width: 600px;
    margin: 10px auto;
}

.droid-image {
    border-radius: 50%;
    float: left;
    width: 30%;
}

.blue {
    background-color: lightskyblue;
}

.red {
    background-color: red;
}

.green {
    background-color: lightgreen;
}

.drive-buttons {
    float: right;
    width: 65%;
}

.mid-button {
    text-align: center;
}