.bb-spacer {
    flex: 1 1 auto;
}

.droid-container {
    text-align: center;
}

.droid-card {
    margin: 10px;
    display: inline-block;
    width: 25%;
}

.video-container {
    width: 60%;
    display: inline-block;
    max-height: 440px;
    max-width: 785px;
}

.box {
    max-height: 440px;
    max-width: 785px;
    position: relative;
    top: 22px;
    width: 100%;
}

.droid-image {
    border-radius: 50%;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.blue {
    background-color: lightskyblue;
}

.red {
    background-color: red;
}

.green {
    background-color: lightgreen;
}

.mid-button {
    text-align: center;
    padding: 15px 15px 20px;
}

.speed-slide {
    width: 100%;
}

.col-button {
    min-width: 60px;
}

@media only screen and (max-width: 900px) {
    .droid-card {
        width: 75%;
    }
    .video-container {
        width: 80%;
    }
}

.cam-toggle {
    margin-right: 10px;
}