<div class="connect">
    <button mat-fab color="primary" (click)="connectToBB8()">Connect</button>
</div>

<mat-card *ngFor="let droid of droids" class="droid-card">
    <mat-card-header>
        <i mat-card-avatar class="material-icons">bluetooth_connected</i>
        <mat-card-title>{{droid.gattServer.device.name}}</mat-card-title>
        <mat-card-subtitle>Connected</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <img src="assets/bb8.png" alt="BB-8" [class]="droid.colour">

        <button mat-fab color="accent" (click)="go(droid)">GO</button>
        <button mat-fab color="accent" (click)="stop(droid)">STOP</button>
    </mat-card-content>

    <mat-card-actions>
            <button mat-button (click)="setColor('r', droid)">Red</button>
            <button mat-button (click)="setColor('b', droid)">Blue</button>            
            <button mat-button (click)="setColor('g', droid)">Green</button>
    </mat-card-actions>
</mat-card>